  <nav class="navbar flex justify-between justify-items-center m-auto mt-4 relative max-w-[1384px]">
    <div class="logo flex justify-center ml-[40px]">
      <img src="../../assets/home/logo.svg" alt="Space Logo" class="lg:w-[50px] md:w-[30px]">
    </div>
    <div class="line ">
      <img class="absolute lg:top-[50px] lg:left-[250px] z-50 md:top-[30px] sm:hidden md:hidden lg:block" src="../../assets/home/line.svg" alt="line">
    </div>
    <div class="navbarMenu h-[100%] px-[123px] lg:py-[40px] lg:text-white md:px-[50px] md:py-[20px] sm:hidden md:block">
      <a class="menus ml-10 tracking-[2px] py-[35px] hover:border-b-4 md:text-[10px] md:text-white lg:text-[16px] "><span>00</span> Home</a>
      <a class="menus ml-10 tracking-[2px] py-[35px] hover:border-b-4 md:text-[10px] md:text-white lg:text-[16px] "><span>01</span> Destination</a>
      <a class="menus ml-10 tracking-[2px] py-[35px] hover:border-b-4 md:text-[10px] md:text-white lg:text-[16px] "><span>02</span> Crew</a>
      <a class="menus ml-10 tracking-[2px] py-[35px] hover:border-b-4 md:text-[10px] md:text-white lg:text-[16px] "><span>03</span> Technology</a>
    </div>
    <div class="hamburgerMenu hidden sm:block md:hidden w-[25px] sm:m-4 cursor-pointer">
      <img src="../../assets/home/hamburgerMenu.svg" alt="HumburgerMenu" class=" ">
    </div>
  </nav>
