<main class="max-w-[1440x] h-screen m-auto mt-4">
<div class="backgroundImage -z-10"></div>
<app-navbar></app-navbar>
<div class="space-banner-part h-[90%] w-[100%] flex justify-center justify-items-center sm:flex-col sm:items-center sm:justify-center md:justify-center md:flex-col lg:flex-row md:items-center" >
<div class="flex-1 space-content-part text-white flex flex-col justify-center mx-[50px]">
  <p class="text-[23px] tracking-[4px] ">SO, YOU WANT TO TRAVEL TO</p>
  <h3 class="text-[115px] leading-[1px] font-Bellefair my-[70px] items-start">SPACE</h3>
  <p class="leading-[30px] font-Barlow  text-[400] sm:justify-center">
    Let’s face it; if you want to go to space, you might as
    well <br> genuinely go to outer space and not hover kind of
    on the <br>edge of it. Well sit back, and relax because we’ll
    give you a <br>truly out of this world experience!
  </p>
</div>
<div class="h-[100%] space-circle-part flex-1 flex justify-center justify-items-center items-center relative">
  <div class="circle flex justify-center justify-items-center items-center h-[250px] w-[250px] rounded-full bg-white z-10">
    <p class="tracking-[4px] font-Bellefair text-[25px] uppercase">Explore</p>
  </div>
  <div class="backround-circle rounded-full absolute"></div>
</div>
</div>
</main>
